/*头部颜色*/
.navbar-inverse {
    background-color: #003873;
    border-color: #080808;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
}
.heade__nav_background{
    background: #00516c;
}
.head_user_name{
    margin-right: 0px;
}
.head_user_name img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.wrapTop{
    width: 100%;
    position: fixed;
    /*box-shadow: 10px 0 15px #00516c;*/
}
.wrapLeftWarp{
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 900;
}
