.margin_top88{
    margin-top: 88px;
}
.news{
    width: 100%;
    line-height: 50px;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 15px;

}
.news:hover{
    border: 2px solid #999;
}
.show-grid{
    margin-bottom: 15px;
}
.button_wrap{
    padding: 3px;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.button_wrap:hover{
    border: 2px solid #999;
}

/*弹出层*/
.alert{
    position: absolute;
    top: 44px;
    left: -177.682728%;
    display: none;
    z-index: 2040;
}
.alert p{
    padding: 5px 30px;
}
.alert .modal-sm{
    width: 445px;
}
.alert p .courier_input{
    display: inline-block;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.alert p .courier_input input{
    border: none;
    outline-style: none;
}
.alert button{
    margin-left: 30px;
    margin-bottom:15px;
}
.alert p:first-child{
    margin-top: 30px;
}
.alert p u{
    color: red;
    font-weight: bold;
}

.modal-backdrop{
    display: none;
}
.courier_print{
    width: 652px;
    position: absolute;
    top: 0;
    left: -207.682728%;
}
.courier_relative{
    position: relative;
}
.courier_wrap span{
    position: absolute;
}
.courier_wrap .courier_name1{
    top: 76px;
    left: 107px;
}
.courier_wrap .courier_name2{
    top: 79px;
    left: 375px;
}
.courier_wrap .courier_name3{
    top: 280px;
    left: 107px;
}
.courier_wrap .courier_address1{
    top: 130px;
    left: 107px;
}
.courier_wrap .courier_address2{
    top: 130px;
    left: 375px;
}
.courier_wrap .courier_tel1{
    top: 183px;
    left: 120px;
}
.courier_wrap .courier_tel2{
    top: 183px;
    left: 388px;
}
.jianlist_wrap{
    display: none;
}
.courier_wrap_print{
    display: none;
}
